/* estado_color.css */
.estado-sin_revisar {
    background-color: #grey !important;
}

.estado-para_revision {
    background-color: #yellow !important;
}

.estado-asignado {
    background-color: #blue !important;
}

/* ... resto de tus estados ... */