/* static/src/css/custom_styles.css */

.bg-red {
    background-color: #ffcccc !important;
}

.bg-yellow {
    background-color: #ffff99 !important;
}

.bg-green {
    background-color: #ccffcc !important;
}
